{% extends "baser.html" %}
{% load bootstrap %}
{% block content %}
<!--
<br><br><br><br>
<div class="col-md-9" style="margin: auto; margin-top: 75px;">
    <div class="card mb-4 mt-5">
        <div class="card-header">
            Password reset
          </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">

                {{ form|bootstrap }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
        <small class="text-muted ml-2">
                    <a href="{% url 'login' %}">Have account ?</a>
        </small>
    </div>
</div>

-->


<div class="loginpage">


      <div class="col-md-9" style="margin: auto; margin-top: 75px;">

        <div class="card mb-4 mt-5">
          <div class="card-header">
            Enter Login Details
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{form|bootstrap}}
              <br>
              <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </form>

            <br>

            <div class="border-top pt-3">
            <small class="text-muted">
                Have Account? <a class="ml-2 mt-4" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
          </div>
        </div>
      </div>
</div>

{% endblock content %}
