{% extends 'baser.html' %}
{% load bootstrap %}


{% block content %}
<br>
      <div class="col-md-10" style="margin: auto; margin-top: 75px;">
        <div class="card mb-4 mt-4">
          <div class="card-header">
            Create an Account
          </div>
          <div class="card-body">
            <form method="POST">

              {% csrf_token %}
              {{form|bootstrap}}

              <button type="submit" class="btn btn-outline-primary mt-4 ">Create Account</button>
            </form>
            <br>
            <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2 mt-4" href="{% url 'login' %}">Login Now</a>
            </small>
        </div>
          </div>
        </div>

      </div>
{% endblock %}
